<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" bootstrap="tests/helpers/bootstrap.php"
         stopOnError="true"
         cacheResult="false"
         stderr="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>